.background1 {
    background-color: yellow;
}

.background2 {
    background-color: purple;
}

.text-box {
    width: 50%;
    height: 200px;
    display: inline-block;
}

.mini-box {
    background-color: green;
    width: 30%;
    height: 50px;
    margin: auto;
    color: white;
    padding: 20px 0px 20px 0px;
}