

.centered-title {
    text-align: center;
}

.centered-image {
    display: block;
    margin: auto;
}


img {
    width: 75%;
}

.navbar {
    list-style-type: none;
    background-color: #F6E27F;
    width: 100%;
    margin: 0;
    padding: 10px;
    min-height:25px;
}

.navbar li {
    display: inline-block;
    padding: 10px;
}

.navbar li a {
    background-color: #9BBEC7;
    color: #251605;
    text-decoration: none;
    padding: 10px;
    margin: 0;
}

.centered-container {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 70%;
    height: 90vh;
    position: relative;
}

body {
    background-color: #A8B7AB;
    padding: 0;
    margin: 0;
}

.background-container {
    background-color: #E2C391;
}

.styled-table th {
    background-color: white;
}

.styled-table td {
    background-color: #F6E27F;
}

.background1 {
    background-color: #F6E27F;
}

.background2 {
    background-color: #F6E27F;
}

.text-box {
    width: 40%;
    height: 200px;
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
}

.mini-box {
    background-color: green;
    width: 30%;
    height: 50px;
    margin: auto;
    color: white;
    padding: 20px 0px 20px 0px;
}

.container-for-text-boxes {
    text-align: center;
}