<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>

     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" >
</head>
<body>
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
    </ul>
    <div class="centered-container background-container">

        <h1 class="centered-title">About Me</h1>

        <div class="container-for-text-boxes">
            <div class="background1 text-box">
                <p>
                    He is a graduate student of Computer Science at SFSU,
                    and he is currently researching the detection of
                    Twitter spam by analyzing message dissemination.
                </p>
            </div>

            <div class="background2 text-box">
                <p>
                    Additionally, he teaches classes at the school and works
                    with the department to help standardize the undergraduate
                    programming courses.
                </p>
            </div>
        </div>
    </div>

</body>
</html>