<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" >

</head>
<body>
    <h1>The contact page</h1>

    <h3>My favorite things:</h3>

    <ul>
        <li>Raindrops on roses</li>
        <li><b>Whiskers</b> on Kittens</li>
        <li><a href="/about">Link to About</a></li>
    </ul>

</body>
</html>