<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Charlie's Homepage</title>

     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" >

</head>

<body>

    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
    </ul>

    <div class="centered-container background-container">
        <h1 class="centered-title">Charlie's Homepage</h1>

        <p class="description-text">
            Hello, this is Charlie's homepage. Charlie will be posting various things on this website.
        </p>

        <img class="centered-image" src="{{ url_for('static', filename='images/cat.jpg') }}" />

    </div>


</body>

</html>