<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>

         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" >

</head>
<body>
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
    </ul>
    <div class="centered-container background-container">

        <h1 class="centered-title">My Projects</h1>

        <table class="styled-table">
            <tr>
                <th>Project Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td><b>Twitter Spam Detection</b></td>
                <td>Analyzing the dissemination of Tweets to construct vectors and apply them in a machine learning model.</td>
            </tr>
            <tr>
                <td><b>GatorGrader</b></td>
                <td>Command line grading tool to automate plagiarism detection and the running of Java programs.</td>
            </tr>
            <tr>
                <td><b>Digital Homeroom</b></td>
                <td>
                    Successor to GatorGrader on an web platform. Planned to include more grading features such as<br>
                    autograding, automation of paper exam construction and grading, and assignment automation.
                </td>
            </tr>
        </table>
    </div>
</body>
</html>